body {
 padding: 0px;
  margin: 0px;
 font-family: "Comic Sans MS", cursive, sans-serif;
}

ul {
 text-decoration: none;
 background-color: grey;
 position: fixed;
 text-align: right;
 width: 100%;
 border-radius: 10px;
}

ul > li {
 display: inline-block;
 padding: 30 30 30 0;
 margin-right: 30px;
}

ul > li > a{
 text-decoration: none;
 color: white;
}

ul > li > a:hover {
 color: #26C663;
}
